<html>

<!-- Página web que muestra información al usuario realativa a la adopción de perros-->

<head class="headerColor">
    <title>APPet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link rel="icon" type="image/png" href="img/logo.png" />
    <link rel="stylesheet" type="text/css" href="css/estilocomoadoptar.css">
</head>

<body>
    <%- include('./header'); %>
        <div id="content">
            <div class="texto">
                <p><span class="justify">¡Vas a adoptar un perro!&nbsp;¡Estás decidido!</span></p>
                <p><span class="justify">Has meditado seriamente con la familia este paso y habéis decidido adoptar de forma responsable.</span></p>
                <p><span class="justify">Pero… ¿Cómo lo hago?</span></span>
                </p>
            </div>

            <h1 class="encabezado" id="datos1">Cosas a tener en cuenta antes de adoptar</h1>

            <div class="row cajatexto centrar">
                <div class="col-md-6">
                    <img src="https://www.mundoperros.es/wp-content/uploads/2016/02/protectoras-de-animales.jpg" class="img-thumbnail" alt="Cinque Terre" width="980">
                </div>

                <div class=" col-md-8 ">
                    <!-->
                    <p class="quienes ">
                        <blockquote>
                            <p>Los perros necesitan <span class="tnegrita">tener el suficiente espacio en casa para moverse</span>.</p>
                        </blockquote>
                        <p class="justify">Ten en cuenta que no les gusta estar encerrados y que necesitan corretear para desestresarse y ser felices. Por ello, es importante que valores tu hogar y busques un perro que se pueda adaptar bien a tu casa.</p>
                        <p class="justify">Ellos no saben salir a la calle solos, bañarse o ponerse la comida. Por eso, tienes que <span class="tnegrita">valorar el tiempo libre del que dispones en tu día a día</span> y ver si puedes atender en condiciones a tu perro.</p>
                        <!-->
                    </p>
                </div>
            </div>


            <h1 class="encabezado" id="datos11">¿Adoptar un perro cachorro o adulto?</h1>

            <div class="row cajatexto centrar">
                <div class=" col-md-9">
                    <p class="justify">Decidirse por un cachorro o por un adulto tiene sus ventajas y desventajas. Un adulto es más estable y posiblemente ya tenga unos patrones de comportamiento. No le tendrás que enseñar cosas básicas como hacer sus necesidades. Pero,
                        el inconveniente, es que tienen ya sus manías, igual que los humanos.</p>
                    <p class="justify">Alguno de estos perros han sufrido malos tratos o han sido usados como perros de pelea y, posiblemente, les estén enseñando en la protectora a ser perros estables y felices. Pero ese trabajo tendrás que seguirlo tú en casa. Es un bonito
                        trabajo cuya recompensa es tener a tu mejor amigo al lado de los tuyos de forma feliz y segura para todos.</p>
                    <p class="justify">Un cachorro, es como un bebé, le vas a tener que enseñar tú todo. Eso sí, tendrás la oportunidad de enseñarle bien desde un principio las normas de comportamiento y de respeto a los demás.</p>
                </div>
                <div class="col-md-5">
                    <img src="http://www.mediterraniacentrocanino.com/wp-content/uploads/perro-grande-perro-peque%C3%B1o1.jpg" class="imagen img-thumbnail" alt="Cinque Terre" width="280">
                </div>
            </div>


            <h1 class="encabezado" id="datos2">Si&nbsp;tienes ya otro perro, vas a tener presentarles y que encajen entre sí</h1>

            <div class="row cajatexto centrar abajo">
                <div class="col-md-4">
                    <img src="https://www.cimformacion.com/blog/wp-content/uploads/perros-jugando-con-una-pelota-300x200.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="250">
                </div>


                <div class=" col-md-8">
                    <p class="justify">No tienes que preocuparte, trabajándolo poco a poco ¡seguro que se llevan genial!. Pero indícalo en la protectora para que sepan qué perros tienen que se lleven bien con los demás perros. Así es más fácil que acaben llevándose como
                        hermanos.</p>
                </div>
            </div>

            <h1 class="encabezado" id="datos3">Otro de los factores más importantes es el económico</h1>

            <div class="row cajatexto centrar">
                <div class=" col-md-9">
                    <p class="justify">Tienes que hacer un estudio exhaustivo de tus ingresos y gastos, ver cuánto te costaría tener y adoptar un&nbsp;perro y, por último,<span class="tnegrita"> cotejar si te lo puedes permiti</span>r. Tienes que tener en cuenta que a los
                        perros no sólo les tenemos que dar de comer, sino que tienen vacunas, desparasitaciones, revisiones anuales, algún día que se ponen enfermos y hay que visitar al veterinario.</p>
                    <p class="justify"><span class="tnegrita">Si quieres saber los costes, puede visitar <a href="http://www.terranea.es/blog/cuanto-cuesta-mantener-un-perro/">este post donde te lo explican</a>.</span></p>
                </div>
                <div class="col-md-5">
                    <img src="https://i1.wp.com/www.terranea.es/blog/wp-content/uploads/2016/09/pit-bull-1.jpg?resize=640%2C320" class="imagen img-thumbnail" alt="Cinque Terre" width="980">
                </div>
            </div>

            <h1 class="encabezado" id="datos4">Las protectoras</h1>

            <div class="row cajatexto centrar abajo">
                <div class="col-md-4">
                    <img src="https://www.muyperruno.com/wp-content/uploads/2016/07/adopci%C3%B3n-de-perros-2.jpeg" class="imagen img-thumbnail" alt="Cinque Terre" width="304" height="250">
                </div>

                <div class=" col-md-8">
                    <p class="justify"><span class="tnegrita">En Appet trabajamos con muchas protectoras las cuales tienen muchos perritos que necesitan un hogar</span>. La mayoría, además, han tenido una vida muy dura y sueñan con tener una familia a la que querer el resto
                        de su vida.</p>
                    <p class="justify">Estas protectoras <span class="tnegrita">se encargan de que estos pequeños peludos tengan todo al día</span>:&nbsp;La revisión veterinaria, la esterilización, vacunas, desparasitaciones y que haya recibido cualquier tratamiento que
                        haya podido necesitar antes de que te lo lleves a casa.</p>
                    <blockquote>
                        <p><span class="italic">Suelen disponer un pequeño <span class="tnegrita">historial sobre el perro, su vida pasada, sus miedos y traumas, su salud, si se lleva bien con niños o con otros animales</span> y cualquier cosa que necesites
                            saber antes de adoptar.</span>
                        </p>
                        <p class="justify">Esto es ideal porque así pueden <span class="tnegrita">buscar la mascota que más encaje con tu familia</span>. Es muy importante escoger un perro que encaje con vosotros, para evitar que en un futuro tenga que volver a la protectora
                            de animales. Es una decisión muy importante para ti y para los animales.</p>
                        <p class="justify">Es habitual que las protectoras hagan un <span class="tnegrita">seguimiento previo y posterior a la adopción</span>. Suelen asegurarse de que el nuevo hogar del perro es el idóneo y ver que allí no van a sufrir más. Querrán ver
                            tu casa, para ver si las condiciones son las idóneas para tener un perro, así que, ¡No te asustes si te lo piden!</p>
                        <p class="justify">Además, son de gran ayuda porque te ayudarán y asesorarán probablemente durante toda la vida de tu mascota.</p>
                        <p class="justify"><span class="tnegrita">¡Nunca te dejarán sólo si les necesitas!</span></p>
                </div>
            </div>

            <h1 class="encabezado" id="datos5">¿Cuál es el proceso para adoptar un perro?</h1>

            <div class="row cajatexto centrar">
                <div class=" col-md-9">
                    <p class="justify">Ya tienes claro qué perro necesitas, por lo que debes comentárselo al personal de la protectora para que busquen al que mejor pueda encajar con tus necesidades. Ellos <span class="tnegrita">te mostrarán muchísimos perros adorables, que te necesitan</span>,
                        para que escojas uno de ellos y te lo reserven.</p>
                    <p class="justify">A veces, las protectoras <span class="tnegrita">hacen visitas a los hogares para comprobar que el animal vaya a estar en unas condiciones inmejorables</span> y que no van a correr ningún peligro.</p>
                    <p class="justify">Y, si dan el visto bueno, ya sólo queda adoptarle. <span class="tnegrita">Habitualmente te cobrarán una pequeña cantidad por los gastos que ellos tienen</span> de vacunas, implantación del microchip y ese tipo de cuestiones. Por lo
                        general, suele ser muy económico, si lo comparas con lo que te cobraría una clínica veterinaria.</p>
                    <blockquote>
                        <p><span class="justify">Si no te lo dan con vacunas, chip o esterilizado, pues&nbsp;tienes la opción de <a href="http://www.mascotaysalud.com/productos.html">contratar un servicio veterinario</a> para que te salga más barato.</span></p>
                    </blockquote>
                    <p class="justify">Cuando <span class="tnegrita">el perro que adoptamos es uno de los considerados por la ley como “<span class="justify">potencialmente peligrosos</span>“, entonces tendrás que sacarte la licencia</span> para la tenencia de perros potencialmente
                        peligrosos. En este artículo <a href="http://www.terranea.es/blog/pasos-para-obtener-la-licencia-y-el-seguro-de-perro/">te cuentan todo el proceso para sacarse la licencia</a>.</p>
                </div>
                <div class="col-md-5">
                    <img src="http://sevilla.abc.es/media/sevilla/2017/08/26/s/perro-peligroso-bozal-kB4E--620x349@abc.jpg" class="imagen img-thumbnail" alt="Cinque Terre" width="280">
                </div>
            </div>
            <div class="texto">
                <br>
                <p class="justify">Como ves ¡es un proceso sencillo! Ahora solo falta que te decidas a adoptar un perro de forma responsable.</p>
                <p class="justify">Y recuerda, que un animal es una vida, y con la vida no se juega.</p>
                <blockquote>
                    <p class="justify"><span class="tnegrita">Appet Contra el Abandono Animal.&nbsp;</span></p>
                </blockquote>
                <p>
                    <a href="http://www.terranea.es/blog/perros-en-adopcion/">
                        <img class="imagen img-thumbnail" src="https://www.tourinews.es/uploads/s1/11/30/28/perro-abandonado-foto-de-pinterest_4_732x400.jpeg" alt="Seguro de Perro Gratis" srcset="https://www.tourinews.es/uploads/s1/11/30/28/perro-abandonado-foto-de-pinterest_4_732x400.jpeg"></a>
                </p>
            </div>
        </div>


        <%- include('./footer'); %>
</body>

</html>