<link rel="stylesheet" type="text/css" href="css/estilofooter.css">


<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="texto"> Miembros del equipo </h3>
                    <ul>
                        <li> <a href="https://github.com/myscel"> Eduardo Gonzalo Montero</a> </li>
                        <li> <a href="#"> Paulo José Colombo Dos Santos </a> </li>
                        <li> <a href="#"> Denis Raicu </a> </li>
                        <li> <a href="#"> Gonzalo Rivas </a> </li>
                        <li> <a href="#"> Mario</a> </li>
                        <li> <a href="#"> Irene Josefina </a> </li>
                        <li> <a href="#"> Yhondri </a> </li>
                        <li> <a href="#"> Luis Eduardo </a> </li>
                        <li> <a href="#"> Sergio </a> </li>
                        <li> <a href="#"> Jaime </a> </li>
                        <li> <a href="#"> Ricardo </a> </li>

                    </ul>
                </div>
                <div class="col-sm-6">
                    <h3 class="texto"> Redes sociales APPET </h3>
                    <ul>
                        <li>
                            <div class="input-append newsletter-box text-center">
                                <input type="text" class="full text-center" placeholder="Email ">
                                <button class="btn  bg-gray" type="button"> appet@ucm.es <i class="fa fa-long-arrow-right"> </i> </button>
                            </div>
                        </li>
                    </ul>
                    <ul class="social container row">
                        <li class="col-md-2">
                            <a href="https://twitter.com/APPetTwit"><img class="rrss" src="./img/twitter.png"> </a>
                        </li>

                        <li class="col-md-2">
                            <a href="https://www.facebook.com/APPet-346352155877924/?modal=admin_todo_tour">
                                <img class="rrss" src="./img/facebook.png">
                            </a>
                        </li>

                        <li class="col-md-2">
                            <a href="https://www.instagram.com/appet_insta/?hl=es">
                                <img class="rrss" src="./img/instagram.png">
                            </a>
                        </li>
                        <li class="col-md-2">
                            <a href="https://www.youtube.com/channel/UCOU8eY3WM1t6DdP8wXMnoVg">
                                <img class="rrss" src="./img/youtube.png">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="row">

            <div class="col-md-5">
                <p class="pull-left"> Proyecto Appet GPS 2018 </p>
            </div>

            <div class="col-md-3">
                <p class="pull-right"> <a href="iraacercadeappet">
                        Acerca de appet
                    </a>
                </p>
            </div>
            <div class="col-md-4">
                <p class="pull-right"> Licencia Creative Commons </p>
            </div>

        </div>
    </div>
</footer>