<html>

<head class="headerColor">
    <title>APPet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/estilosformularioadopcion.css">
    <link rel="icon" type="image/png" href="img/logo.png" />
</head>

<body>
    <%- include('./header'); %>




        <h1> Formulario de adopción</h1>


        <p>Cuéntanos porqué quieres adoptarle y tus circunstancias</p>

        <textarea name="descripcion" id="text_observ">
        </textarea>


        <!-- AQUI VA EL CÓDIGO-->





        <%- include('./footer'); %>
</body>

</html>