<link rel="stylesheet" type="text/css" href="css/estiloheader.css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- Página web plantilla que muestra el header-->

<div class="cabecera ">

    <nav class="headerColor">
        <div class="logo1">
            <a href="index"><img class="logo" src="img\logo.png" alt="APPet@Corporation"></a>
        </div>
        <div class="sesion">
            <% if(idU === undefined){ %>
                <div class="col-lg-12">
                    <!--Boton para poder iniciar sesion abriendo un cuadro modal-->
                    <button type="button" class="btn btn-primary inicioSesion" onClick="window.location.href='login'">Iniciar Sesión</button>
                </div>
                <div class="col-lg-12">
                    <!--Boton para Registrarse-->
                    <button data-toggle="modal" data-target="#exampleModalLong" type="button" class="btn registro">Registrarse</button>
                </div>
                <% }else{ %>
                    <!--Boton para poder cerrar sesion-->
                    <div class="col-lg-12">
                        <form>
                            <button type="submit" formmethod="get" formaction="/cerrarSesion" class="btn btn-danger">Cerrar Sesión</button>
                        </form>
                    </div>
                    <!--Boton que redirige a panel de modificacion del perfil de protectora -->
                    <!--
					<div class="col-lg-12">
                        <button type="button" class="btn btn-primary modificar">Modificar</button>
                    </div>
					-->
                    <% } %>
        </div>
    </nav>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <!--Redirige a la pagina de inicio -->
                <a class="navbar-brand" href="index">INICIO</a>
            </div>
            <ul class="nav navbar-nav">
                <% if(tipo === "Protectora"){ %>
                    <li><a class="nav-link" href="iramiperfilprotectora">Mi perfil</a></li>
                    <!-- Redirige a la lista de protectoras -->
                    <li><a class="nav-link" href="iraperrosmiosprotectora">Mis perros</a></li>
                    <li><a class="nav-link" href="#"> Solicitudes de adopción</a></li>

                    <% } else {%>

                        <li><a class="nav-link" href="iracomoadoptar">Cómo adoptar</a></li>
                        <!-- Redirige a la lista de perros -->
                        <li><a class="nav-link" href="iralistarperros">Perros <span class="sr-only">(current)</span></a></li>
                        <!-- Redirige a la lista de protectoras -->
                        <li><a class="nav-link" href="iraprotectora">Protectoras</a></li>
                        <!-- Redirige a la lista de protectoras -->
                        <% } %>




            </ul>
        </div>
    </nav>
</div>
<!-- Modal -->
<style>
    .registrarseStyle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5% 5%;
    }
    
    .botonReg {
        display: inline-block;
        font-size: 20px;
        font-color: black;
    }
    
    .modal-dialog {
        margin: 100px auto;
    }
</style>
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body registrarseStyle">
                <a href="registroAdoptante"><button type="button" class="btn btn-primary botonReg tnegrita" data-toggle="modal" data-target="#myModal">Como Adoptante</button></a>
                <a href="registroProtectora"><button type="button" class="btn btn-primary botonReg tnegrita" data-toggle="modal" data-target="#myModal">Como Protectora</button></a>
            </div>
        </div>
    </div>
</div>

</div>