<html>

<!-- Página web de inicio de appet-->

<head class="headerColor">
    <title>APPet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/estiloindex.css">
    <link rel="icon" type="image/png" href="img/logo.png" />
</head>

<body>
    <%- include('./header'); %>
	<!-- aqui -->
	<% if(mensaje!=undefined){%>
				<% if(mensaje=="exito"){%>
					<div class="modal fade in" id="myModal" role="dialog" style="display: block;">
						<div class="modal-dialog">
					  <!-- Modal content-->
					  <div class="modal-content">
						<div class="modal-header">
						  <h4 class="modal-title">¡Se ha modificado su perfil con éxito!</h4>
						</div>
						<div class="modal-body">
						  <p>Pulsa para poder ir a su perfil</p>
						</div>
						<div class="modal-footer">
						  <a href="./perfil" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Mi perfil</a>
						</div>
					  </div>
					</div>
				  </div>
				<%}else{%>
					<div class="alert alert-danger page-alert" id="alert-3" >
                    <ul>
                        <%if(mensaje!=undefined){%>
                            <li><%= mensaje %></li>
                        <%}else{%>
                            <% errors.forEach(error => { %>
                                <li><%= error.msg %></li>
                                <% }); %>
                        <%}%>
                    
                    </ul>
                </div>
            <%}}%>
			
			<!-- aqui-->
        <div id="FondoEslogan">
            <div id="eslogan">
                <h1>Adopta uno y salva dos vidas</h1>
                <h3>Appet reúne protectoras de perros y personas que buscan adoptar una mascota</h3>
            </div>
        </div>
        <%- include('./footer'); %>
</body>

</html>