<html>

<!-- Página web de inicio de appet-->

<head class="headerColor">
    <title>APPet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/estiloindex.css">
    <link rel="icon" type="image/png" href="img/logo.png" />
</head>

<body>
    <%- include('./header'); %>
        <div id="FondoEslogan">
            <div id="eslogan">
                <h1>Adopta uno y salva dos vidas</h1>
                <h3>Appet reúne protectoras de perros y personas que buscan adoptar una mascota</h3>
            </div>
        </div>
        <%- include('./footer'); %>
</body>

</html>