<html>
	<head class = "headerColor">
		<title>APPet</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="icon" type="image/png" href="img/logo.png" />
	</head>
	<body>
        <%- include('./header'); %>
        
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <form id="login" class="form-login" action="/login" method="POST">
                <h2>Bienvenido de nuevo</h2>
                <% if(errors!=undefined || mensaje!=undefined){%>
                    <div class="alert alert-danger page-alert" id="alert-3" >
                    <ul>
                        <%if(mensaje!=undefined){%>
                            <li><%= mensaje %></li>
                        <%}else{%>
                            <% errors.forEach(error => { %>
                                <li><%= error.msg %></li>
                                <% }); %>
                        <%}%>
                    
                    </ul>
                </div>
            <%}%>
                <input type="text" id="userEmail" name="userEmail" class="form-control input-sm chat-input" placeholder="Nombre de Usuario" required/>
                </br>
                <input type="password" id="userPassword" name="password" class="form-control input-sm chat-input" placeholder="Contraseña" required/>
                <div class="radio">
                    <label ><input type="radio" name="tipo" value="Protectora">Protectora</label> 
                    <label ><input type="radio" name="tipo" value="Adoptante">Adoptante</label>
                    <label ><input type="radio" name="tipo" value="Administrador">Administrador</label>
                </div>
                </br>
                    <div class="wrapper">
                        <span class="group-btn"> 
                            <button type="submit" class="btn btn-primary btn-md">Login<i class="fa fa-sign-in"></i></button>    
                            
                        </span>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
		<%- include('./footer'); %>
	</body>
</html>