/********************* cabeceraSS *********************/

.headerColor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo1 img {
    height: auto !important;
}

.sesion button {
    width: 80%;
}

.nav-item {
    margin-right: 3px;
}

.izquierda,
.centro,
.derecho {
    position: relative;
    float: left;
    height: 500px;
    border-style: dotted;
    border-width: 2px;
}

.izquierda {
    width: 33%;
}

.centro {
    width: 34%;
}

.derecho {
    width: 33%;
}

.inicioSesion {
    display: inline-block;
    margin-bottom: 5%;
}

.registro {
    display: inline-block;
}

.logo {
    width: 150px;
}

.logo1 {
    display: inline-block;
    margin-left: 2%;
    MARGIN: 5px 2%;
}

.sesion {
    position: relative;
    float: right;
    width: 15%;
    text-align: center;
}

.navegacion {
    padding-top: 0px;
    padding-bottom: 0px;
}

.modalIS {
    width: 30%;
}

.formIS {
    padding: 0% 10%;
}


/********************* cabeceraCS *********************/

.headerColor {
    background-color: #9AFF5A/*rgb(204, 255, 230)*/;
    margin-bottom: 0px;
}

.navbarColor {
    background-color: rgb(204, 255, 230);
}

.listaHeader a:hover {
    background-color: rgb(204, 255, 230);
}

.sesion1 {
    width: 20%;
    text-align: center;
}

.sesion1 span {
    width: 100%;
    display: inline-block;
}

.sesion1 img {
    width: 35%;
    display: inline-block;
}

.sesion1 button {
    display: inline-block;
    padding: 0% 5%;
}

/*********************registro modal ***************************/

	.registrarseStyle{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding:5% 5%;
		
	}
	.botonReg{
	    display: inline-block;
		    font-size: 20px;
			font-color:black;
	}
	.modal-dialog{
		margin: 100px auto;
	}
	
	.bcolorfondo{
	    background-color: rgb(77, 127, 45);
	}
	@media only screen and (max-width: 600px) {
			.registrarseStyle{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				padding:5% 5%;
				
			}
			.botonReg{
				display: inline-block;
					font-size: 10px;
					font-color:black;
			}
			.modal-dialog{
				margin: 100px auto;
			}
		}