		.negrita {
			font-size: 20px;
			font-weight:bolder;
		}

		.content{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding:0% 5% 2% 5%;
		}
		
		.datos{
			padding-right:5%;
		}
		.titulo{
			text-align:center;
			font-family: 'Bree Serif', serif;
		}
		.justify {
			font-family: 'Bree Serif', serif;
			font-size: 20px;
			color: rgb(115, 115, 115);
		}